WTVDupeFinder/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ScanPath" type="xs:string" />
        <xs:element name="DeleteGeneric" type="xs:boolean" />
        <xs:element name="DateBias" type="xs:boolean" />
        <xs:element maxOccurs="unbounded" name="ExcludedGenericShow" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="PreferredChannel" type="xs:string" />
        <xs:element name="log" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>